<!DOCTYPE html>
<html lang="en">
<head>
	<title>Twitter Bot (CHOOSE)</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">

		
		<div class="wrap-contact100">
		
			{% if length > 0 %}

			<form class="contact100-form validate-form" action="/tweet" method="POST">
				<span class="contact100-form-title">
					Ashoka FinTech Society
					<p>Twitter Bot</p>
				</span>
                
				
                <div class="wrap-input100">
                  {% for item in data %}
				  <label class="container">{{item.title}}
                    <input type="checkbox" value="{{item.id}}" name='urlchoices'>
                    <span class="checkmark"></span>
                  </label>
                  {% endfor %}

                </div> 
				
				<p></p>

				<div class="wrap-input100 validate-input" data-validate="Please enter your password">
					<input class="input100" type="password" name="password" placeholder="Password">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-twitter m-r-6" aria-hidden="true"></i>
							TWEET
						</span>
					</button>
				</div>
			</form>

			{% else %}

			<form class="contact100-form validate-form" action="/home" method="GET">
				<span class="contact100-form-title">
					Ashoka FinTech Society
					<p>Twitter Bot</p>
				</span>
                

				<div class="container-passed100-form-btn">
					<button class="passed100-form-btn">
						<span>
							<i class="fa fa-check m-r-6" aria-hidden="true"></i>
							CAUGHT UP
						</span>
					</button>
				</div>
			</form>

			{% endif %}

		</div>
	</div>


<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
